 <footer>
        <div class="footer">
            
                <h3 class="footer_header"></h3>
                <h3 class="footer_header"></h3>
                <h3 class="footer_header"></h3>
                <h3 class="footer_header"></h3>

                <ul class="f-list">
                    <li><a href="#" class="f-list-1">Help & Contact Us</a></li>
                    <li><a href="#" class="f-list-1">Returns & Refunds</a></li>
                    <li><a href="#" class="f-list-1">Online Stores</a></li>
                    <li><a href="#" class="f-list-1">Terms & Conditions</a></li>
                    <li><a href="#" class="f-list-1">Online Stores</a></li>
                    <li><a href="#" class="f-list-1">Terms & Conditions</a></li>
                    
                    
                </ul>

{{!-- ('Help & Contact Us','Returns & Refunds','Online Stores','Terms & Conditions','Online Stores','Terms & Conditions') --}}

                <ul class="f-list">
                    <li><a href="#" class="f-list-2">About us</a></li>
                    <li><a href="#" class="f-list-2">Blog </a></li>
                    <li><a href="#" class="f-list-2">Order Tracking</a></li>
                    <li><a href="#" class="f-list-2">FAQ Page </a></li>
                    <li><a href="#" class="f-list-2">Contact Us</a></li>
                    <li><a href="#" class="f-list-2">Login</a></li>
                  
                    
                </ul>
            

            {{!-- ('About us','Blog ','Order Tracking','FAQ Page','Contact Us','Login') --}}
                

                <ul class="f-list">
                    <li><a href="#" class="f-list-3">Twitter</a></li>
                    <li><a href="#" class="f-list-3">Instagram</a></li>
                    <li><a href="#" class="f-list-3"> Tumblr</a></li>
                    <li><a href="#" class="f-list-3">Facebook</a></li>
                    <li><a href="#" class="f-list-3">Linkdin</a></li>
                     <li><a href="#" class="f-list-3">Instagram</a></li>
                    
                </ul>
           
                        {{!-- ('Twitter','Instagram','Tumblr','Facebook','Linkdin','Instagram') --}}
          
                

                <ul class="f-list">
                    <li><a href="#" class="f-list-4">Designer Plants</a></li>
                    <li><a href="#" class="f-list-4">Gallery</a></li>
                    <li><a href="#" class="f-list-4">Pricing</a></li>
                    <li><a href="#" class="f-list-4">Feature Index</a></li>
                    <li><a href="#" class="f-list-4">Login</a></li>
                    <li><a href="#" class="f-list-4">Help & support</a></li>
                    
                </ul>
            
            


        </div>

  </footer>