    <header class="main-header">
        <div class="navdiv nav-div">
            <div class="logo">
                <img class="logo-img" src="images/logo.png" alt="">
                LOVE MATCH
            </div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="aboutUs">Portfolio</a></li>
                    <li>Search</li>
                    <li><a href="login"> Sign up </a></li>
                </ul>
        </div>



        <div class="content">
            <h1>
                Companionship, Passion and Purpose
            </h1>
    
            <p>
                “Marriage is the most natural state of man, and the state in which you will find solid happiness.” <br>
                <button class="btn"><a href="shop.html">Explore</a></button>
                <button class="btn"><a href="#our_products">Learn more &darr;</a></button>
    
            </p>
        </div>

    </header>