<div class="navdiv">
    <div class="logo">
        <img class="logo-img" src="images/logo.png" alt="">
         LOVE MATCH
    </div>
        <ul class="links">
            <li><a href="index">Home</a></li>
            
            <li><a href="aboutUs">Portfolio</a></li>
            <li>Search</li>
              <li><a href="login"> Sign up </a></li>
        </ul>
</div>